
.all-speakers{
             display: grid;
             grid-template-columns: auto auto auto;
              /* background-color: black; */
              margin: 20px 40px 20px 40px;
              border: solid 2px rgb(238, 236, 236);
              padding: 25px 25px 18px 25px;
              gap: 20px;
}
body{
              background-color: rgb(154, 105, 105);
}
.card2{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: black;
}
.card2-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card2-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card2:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}
.card1{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: black;
}
.card1-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card1-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card1:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}
.card3{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: black;
}
.card3-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card3-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card3:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}
.card3-content{
  margin-left: 18px;
  margin-bottom:10px ;
}
.card1-content{
         margin-left: 18px;
  margin-bottom:10px ;     
}
.card2-content{
              margin-left: 18px;
  margin-bottom:10px ;
}
.card4-content{
              margin-left: 18px;
  margin-bottom:10px ;
}
.card5-content{
              margin-right: 18px;
  margin-bottom:10px ;
}

.card4{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: black;
}
.card4-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card4-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card4:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}
.card4{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: black;
}
.card4-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card4-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card4:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}
.card5{
    width:360px;
   background: rgb(253, 252, 252);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
     color: rgb(9, 9, 9);
     
}
.card5-image{
    position:relative;
    height:220px;
    overflow: hidden;
    width: 100%;
}

.card5-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.card5:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}

.navbar{
 display: flex;
justify-content: space-between;
 align-items: center;
 color: white;
 background-attachment: fixed;
 background-color: rgb(186, 136, 136);
 padding: 15px 40px ;
 position: sticky;
 top: 0;
 z-index: 100;
 }
 .logo{
  font-size: 25px;
 font-weight: bold;
      margin-left: 18px;                          
  }
  .nav-links a{
 text-decoration: none;
color: #fff;
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 5px;
 
 }
 
 .logo{
  font-size: 25px;
 font-weight: bold;
      margin-left: 18px;                          
  }
  .nav-links li :hover{
        color: red;
  }
  .nav-links a{
 text-decoration: none;
color: #fff;
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 5px;
 
 }
 .nav-links ul{
       list-style-type: none;       
 }
 